# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
*/.env*.local

# typescript
*.tsbuildinfo

# Gatsby
.cache
with-gatsby/public

# Next.js
.next
with-nextjs/out

# Native
*/ios/Pods

# Websockets
*/backend/.env

.expo
.vscode
node_modules
bun.lockb
yarn-error.log
yarn.lock
package-lock.json

app-example
